body {
    font-family: Arial;
    text-align: center;
    background-color: #e3f2fd;
}

input, button {
    padding: 10px;
    margin: 10px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
